@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.courseInformation {
  background-color: white;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  border-top-right-radius: 3%;
  height: 75vh;
  padding-top: 7%;
  position: relative;
  color: #002147;
}

.examBox {
  border-radius: 3%;
  height: 80vh;
  position: relative;
  margin-top: 4.8%;
  color: #002147;
}

.tabText {
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  text-align: center;
}

.tabYear {
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto Slab', serif;
  font-size: 0.8em;
  text-align: center;
}

.tab {
  margin-right: 10px;
  min-width: 10vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.active {
  background-color: white;
  color: #f6bb0a;
}

.inactive {
  background-color: #176087;
  color: white;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  padding-top: 30px;
  padding-left: 20px;
}
